/* GENERAL HEADER */
header {
    overflow-x: hidden;
}

/* TOP PART (logo and banner) */
.header-top {
    background-color: #000;
    padding-top: 1.3125rem;
    padding-bottom: 2.625rem;
}

.header-top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-top .header-logo div {
    color: var(--text-500);
    font-size: 3.75rem;
    line-height: 1.2em;
    margin-bottom: 0.5625rem;
}

.header-top .header-logo p {
    color: var(--text-700);
    font-size: 0.75rem;
    line-height: 1em;
}
/* END TOP PART (logo and banner) */

/* BOTTOM PART (navigation and search) */
.header-bottom {
    position: relative;
    background-color: var(--primary);
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
}

.header-bottom::before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: calc(100% + 1.25rem);
    height: 1.25rem;
    background-image: url(./img/spikes.svg);
    -webkit-transform: translateX(-0.625rem) rotate(180deg);
        -ms-transform: translateX(-0.625rem) rotate(180deg);
            transform: translateX(-0.625rem) rotate(180deg);
}

.header-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-bottom nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.header-bottom nav ul li {
    margin-right: 2.125rem;
}

.header-bottom nav ul li:last-child {
    margin-right: 0px;
}

.header-bottom ul li a {
    color: #fff;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1em;
    text-decoration: none;
}

.header-bottom ul li a:hover {
    color: var(--bg);
}

/* SEARCH */
.header-bottom form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-bottom form .form-group input {
    background-color: #000;
    border-radius: 0.625rem;
    color: #fff;
    padding: 0.625rem 0.375rem;
    font-size: 0.875rem;
    min-height: 1.875rem;
    min-width: 15rem;
    margin-right: 0.5rem;
}

.header-bottom form .form-group input::-webkit-input-placeholder {
    color: var(--text-600);
}

.header-bottom form .form-group input::-moz-placeholder {
    color: var(--text-600);
}

.header-bottom form .form-group input:-ms-input-placeholder {
    color: var(--text-600);
}

.header-bottom form .form-group input::-ms-input-placeholder {
    color: var(--text-600);
}

.header-bottom form .form-group input::placeholder {
    color: var(--text-600);
}

.header-bottom form .form-group button[type="submit"] {
    background-color: #000;
    color: var(--primary);
    font-size: 0.875rem;
    line-height: 1.28em;
    text-transform: uppercase;
    padding: 0.625rem 1.5rem 0.625rem 1.1875rem;
    border-radius: 10px;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    cursor: pointer;
}

.header-bottom form .form-group button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* END BOTTOM PART (navigation and search) */
